table.qsSample {

	thead tr th {
		padding: 5px;
		background-color: #efefef;
	}
	tbody tr td {
		padding: 3px;
		border-bottom: 1px solid #ccc;
	}

}

dl.qsSample {

	dt, dd {
		display: inline;
	}
	dt {
		font-weight: bold;
	}

}