.swr_simpletable {

	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.swr_simpletable th {
	background-color: #efefef;
	font-weight: bold;
}

.swr_simpletable th,
.swr_simpletable td {
	padding: 5px;
}

